USE [master]
GO
/****** Object:  Database [Project1]    Script Date: 23-07-2019 PM 07:19:00 ******/
CREATE DATABASE [Project1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Project1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Project1.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Project1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Project1_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Project1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Project1]
GO
/****** Object:  Table [dbo].[CityName]    Script Date: 23-07-2019 PM 07:19:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CityName](
	[CityID] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [varchar](60) NULL,
	[StateID] [int] NULL,
 CONSTRAINT [PK_CityName] PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Countrytable]    Script Date: 23-07-2019 PM 07:19:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Countrytable](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [varchar](50) NULL,
 CONSTRAINT [PK_Countrytable] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LoginP]    Script Date: 23-07-2019 PM 07:19:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LoginP](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](60) NULL,
	[LastName] [varchar](60) NULL,
	[EmailAddress] [varchar](60) NULL,
	[Password] [varchar](60) NULL,
	[Address] [varchar](400) NULL,
	[PhoneNumber] [varchar](20) NULL,
	[RollID] [int] NULL,
	[CountryID] [int] NULL,
	[StateID] [int] NULL,
	[CityID] [int] NULL,
	[Photo] [varchar](400) NULL,
 CONSTRAINT [PK_LoginP] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RollTable]    Script Date: 23-07-2019 PM 07:19:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RollTable](
	[RollID] [int] IDENTITY(1,1) NOT NULL,
	[RollName] [varchar](60) NULL,
 CONSTRAINT [PK_RollTable] PRIMARY KEY CLUSTERED 
(
	[RollID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StatesName]    Script Date: 23-07-2019 PM 07:19:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StatesName](
	[StateID] [int] IDENTITY(1,1) NOT NULL,
	[StateName] [varchar](50) NULL,
	[CountryID] [int] NULL,
 CONSTRAINT [PK_StatesName] PRIMARY KEY CLUSTERED 
(
	[StateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserAttendence]    Script Date: 23-07-2019 PM 07:19:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAttendence](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[CheckIN] [datetime] NULL,
	[CheckOut] [datetime] NULL,
	[UserID] [int] NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK__UserAtte__3213E83FC15FC887] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[CityName] ON 

INSERT [dbo].[CityName] ([CityID], [CityName], [StateID]) VALUES (1, N'Ropar', 1)
INSERT [dbo].[CityName] ([CityID], [CityName], [StateID]) VALUES (2, N'Jalandhar', 1)
INSERT [dbo].[CityName] ([CityID], [CityName], [StateID]) VALUES (3, N'Una', 2)
SET IDENTITY_INSERT [dbo].[CityName] OFF
SET IDENTITY_INSERT [dbo].[Countrytable] ON 

INSERT [dbo].[Countrytable] ([CountryID], [CountryName]) VALUES (1, N'India')
INSERT [dbo].[Countrytable] ([CountryID], [CountryName]) VALUES (2, N'England')
INSERT [dbo].[Countrytable] ([CountryID], [CountryName]) VALUES (3, N'Australia')
SET IDENTITY_INSERT [dbo].[Countrytable] OFF
SET IDENTITY_INSERT [dbo].[LoginP] ON 

INSERT [dbo].[LoginP] ([id], [FirstName], [LastName], [EmailAddress], [Password], [Address], [PhoneNumber], [RollID], [CountryID], [StateID], [CityID], [Photo]) VALUES (1, N'Gushan', N'Rana', N'Gulshan@Gmail.com', N'123456', N'Mohali', N'1234464545', 1, 1, 1, 1, NULL)
INSERT [dbo].[LoginP] ([id], [FirstName], [LastName], [EmailAddress], [Password], [Address], [PhoneNumber], [RollID], [CountryID], [StateID], [CityID], [Photo]) VALUES (5, N'Student12', N'Student3', N'Student3@Emailadress.com', N'111111', N'Mohali', N'4561321564', 2, 1, 2, 4, N'IMG_09152.jpg')
INSERT [dbo].[LoginP] ([id], [FirstName], [LastName], [EmailAddress], [Password], [Address], [PhoneNumber], [RollID], [CountryID], [StateID], [CityID], [Photo]) VALUES (7, N'Raksh', N'Singh', N'rakesh@gmail.com', N'123456', N'', N'', 2, 0, 0, 0, N'')
SET IDENTITY_INSERT [dbo].[LoginP] OFF
SET IDENTITY_INSERT [dbo].[RollTable] ON 

INSERT [dbo].[RollTable] ([RollID], [RollName]) VALUES (1, N'Admin')
INSERT [dbo].[RollTable] ([RollID], [RollName]) VALUES (2, N'User')
SET IDENTITY_INSERT [dbo].[RollTable] OFF
SET IDENTITY_INSERT [dbo].[StatesName] ON 

INSERT [dbo].[StatesName] ([StateID], [StateName], [CountryID]) VALUES (1, N'Punjab', 1)
INSERT [dbo].[StatesName] ([StateID], [StateName], [CountryID]) VALUES (2, N'Himachal', 1)
INSERT [dbo].[StatesName] ([StateID], [StateName], [CountryID]) VALUES (3, N'Manchester', 2)
SET IDENTITY_INSERT [dbo].[StatesName] OFF
SET IDENTITY_INSERT [dbo].[UserAttendence] ON 

INSERT [dbo].[UserAttendence] ([id], [CheckIN], [CheckOut], [UserID], [CreatedDate]) VALUES (1, CAST(N'2019-07-11 13:22:17.650' AS DateTime), CAST(N'2019-07-12 13:43:10.187' AS DateTime), 5, CAST(N'2019-07-11 00:00:00.000' AS DateTime))
INSERT [dbo].[UserAttendence] ([id], [CheckIN], [CheckOut], [UserID], [CreatedDate]) VALUES (4, CAST(N'2019-07-11 17:49:32.223' AS DateTime), CAST(N'2019-07-12 13:43:10.187' AS DateTime), 5, CAST(N'2019-07-11 00:00:00.000' AS DateTime))
INSERT [dbo].[UserAttendence] ([id], [CheckIN], [CheckOut], [UserID], [CreatedDate]) VALUES (6, CAST(N'2019-07-11 17:50:45.417' AS DateTime), CAST(N'2019-07-12 13:43:10.187' AS DateTime), 5, CAST(N'2019-07-11 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserAttendence] OFF
ALTER TABLE [dbo].[LoginP]  WITH CHECK ADD  CONSTRAINT [FK_LoginP_RollTable] FOREIGN KEY([RollID])
REFERENCES [dbo].[RollTable] ([RollID])
GO
ALTER TABLE [dbo].[LoginP] CHECK CONSTRAINT [FK_LoginP_RollTable]
GO
ALTER TABLE [dbo].[RollTable]  WITH CHECK ADD  CONSTRAINT [FK_RollTable_RollTable] FOREIGN KEY([RollID])
REFERENCES [dbo].[RollTable] ([RollID])
GO
ALTER TABLE [dbo].[RollTable] CHECK CONSTRAINT [FK_RollTable_RollTable]
GO
/****** Object:  StoredProcedure [dbo].[AdminAttendenceShow]    Script Date: 23-07-2019 PM 07:19:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[AdminAttendenceShow]
@id  int
as begin
Select UserAttendence.CheckIN,UserAttendence.CheckOut,UserAttendence.UserID From
(UserAttendence
inner join LoginP on UserAttendence.UserID=LoginP.id)
Where UserAttendence.UserID=@id;
end
GO
/****** Object:  StoredProcedure [dbo].[AdminAttendenceShownew]    Script Date: 23-07-2019 PM 07:19:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[AdminAttendenceShownew]
@DDName  Varchar='',
@id  int,
@SearchFrom  datetime='' ,
@Searchto datetime=''
as begin
if(isnull(@id,'')<>'')
begin
Select * From
(UserAttendence
inner join LoginP on UserAttendence.UserID=LoginP.id)
Where UserID=@id;
if( ISNULL( @id,'')<>'')
begin
Select * From UserAttendence where UserID=@id and CONVERT(varchar(20),CreatedDate) Between CONVERT(varchar(20),@Searchto) and CONVERT(varchar(20), @SearchFrom)
end
else
begin
Select * From UserAttendence where CONVERT(varchar(20),CreatedDate) Between CONVERT(varchar(20),@Searchto) and CONVERT(varchar(20), @SearchFrom)
end
end
else
begin
Select * From UserAttendence
end
end
GO
/****** Object:  StoredProcedure [dbo].[AdminSearchDate]    Script Date: 23-07-2019 PM 07:19:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[AdminSearchDate]
@id          int,
@Searchto    Datetime='',
@SearchFrom  Datetime=''
as begin
if( ISNULL( @id,'')<>'')
begin
Select * From UserAttendence where UserID=@id and CONVERT(varchar(20),CreatedDate) Between CONVERT(varchar(20),@Searchto) and CONVERT(varchar(20), @SearchFrom)
end
else
begin
Select * From UserAttendence where CONVERT(varchar(20),CreatedDate) Between CONVERT(varchar(20),@Searchto) and CONVERT(varchar(20), @SearchFrom)
end
end
GO
/****** Object:  StoredProcedure [dbo].[AttendenceCheckout]    Script Date: 23-07-2019 PM 07:19:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[AttendenceCheckout]

@id  int,
@CheckOut datetime

as Begin
declare @LoginId int 
begin

select @LoginId=MAX(id) from UserAttendence where UserID=@id


 end
  begin
Update UserAttendence set CheckOut=@CheckOut where id=@LoginId
end
end
GO
/****** Object:  StoredProcedure [dbo].[AttendenceCheckout1]    Script Date: 23-07-2019 PM 07:19:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create Procedure [dbo].[AttendenceCheckout1]

@id  int,
@CheckOut datetime

as Begin
declare @LoginId int 
begin

 set @LoginId =(select MAX(id) from UserAttendence where UserID=@id)
 select @LoginId

 

end
end
GO
/****** Object:  StoredProcedure [dbo].[DDLogIn]    Script Date: 23-07-2019 PM 07:19:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[DDLogIn]
as Begin 
Select LoginP.id,LoginP.FirstName,LoginP.LastName,LoginP.EmailAddress,LoginP.Password,LoginP.Address,LoginP.PhoneNumber,LoginP.RollID,LoginP.CountryID,LoginP.StateID,LoginP.CityID,LoginP.Photo,Countrytable.CountryID,Countrytable.CountryName,StatesName.StateID,StatesName.StateName,StatesName.CountryID,CityName.CityID,CityName.CityName,CityName.StateID,RollTable.RollID,RollTable.RollName From
((((LoginP
inner join RollTable on LoginP.RollID=RollTable.RollID)
inner join Countrytable on LoginP.CountryID=Countrytable.CountryID)
inner join StatesName on LoginP.StateID=StatesName.StateID)
inner join CityName on LoginP.CityID=CityName.CityID)
where LoginP.RollID=2

end
GO
/****** Object:  StoredProcedure [dbo].[DeleteInfo]    Script Date: 23-07-2019 PM 07:19:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[DeleteInfo]
@id int 
as begin
Delete From UserAttendence where id=@id
end
GO
/****** Object:  StoredProcedure [dbo].[DeleteLoginP]    Script Date: 23-07-2019 PM 07:19:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Procedure [dbo].[DeleteLoginP]
(
@id int
)
as Begin
delete From LoginP
where id=@id
end
GO
/****** Object:  StoredProcedure [dbo].[SearchData]    Script Date: 23-07-2019 PM 07:19:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SearchData]
(
@SearchFrom dateTime ='',
@Searchto    datetime='',
@UserID int 
)
as
begin
if (isnull(@SearchFrom,'')<>'' and  isnull(@Searchto ,'')<>'')
begin
--select * from UserAttendence where UserID=@UserID and  CONVERT(varchar(20), CreatedDate) BETWEEN  CONVERT(varchar(20),'2019-07-11') AND  CONVERT(varchar(20),  '2019-07-13')

select * from UserAttendence where UserID=@UserID and  CONVERT(varchar(20), CreatedDate) BETWEEN  CONVERT(varchar(20),@Searchto) AND  CONVERT(varchar(20),  @SearchFrom)
end
else
begin
select * from UserAttendence where UserID=@UserID 
end
end
GO
/****** Object:  StoredProcedure [dbo].[UpdateData]    Script Date: 23-07-2019 PM 07:19:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[UpdateData]
(
@id          int,
@FirstName   varchar(60),
@LastName    varchar(60),
@EmailAddress varchar(60),
@Password     varchar(60),
@Address    varchar(400),
@PhoneNumber varchar(20),
@RollID      int,
@CountryID   int,
@StateID     int,
@CityID      int,
@Photo      varchar(400)
)
as Begin
update LoginP Set
FirstName=@FirstName,
LastName=@LastName,
EmailAddress=@EmailAddress,
Password=@Password,
Address=@Address,
PhoneNumber=@PhoneNumber,
RollID=@RollID,
CountryID=@CountryID,
StateID=@StateID,
CityID=@CityID,
Photo=@Photo
Where id=@id
End

GO
/****** Object:  StoredProcedure [dbo].[UpdateDate]    Script Date: 23-07-2019 PM 07:19:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[UpdateDate]
@id       int,
@CheckIN  datetime,
@CheckOut datetime
as Begin  
update UserAttendence 
Set CheckIN=@CheckIN,
    CheckOut=@CheckOut
	Where id=@id
	end
GO
/****** Object:  StoredProcedure [dbo].[UpdatePass]    Script Date: 23-07-2019 PM 07:19:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[UpdatePass]
@id int,
@Password  Varchar(60)
as begin 
Update loginP Set Password=@Password
where id=@id
end
GO
/****** Object:  StoredProcedure [dbo].[UpdateUserDetails]    Script Date: 23-07-2019 PM 07:19:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[UpdateUserDetails]
(
@id              int,
@FirstName       varchar(60),
@LastName        varchar(60),
@EmailAddress    varchar(60),
@Password        varchar(60),
@Address         varchar(400),
@PhoneNumber     varchar(20),
@RollID          int,
@CountryID       int,
@StateID         int,
@CityID          int,
@Photo           varchar(400)
)
as begin 
update LoginP Set
FirstName=@FirstName,
LastName=@LastName,
EmailAddress=@EmailAddress,
Password=@Password,
Address=@Address,
PhoneNumber=@PhoneNumber,
RollID=@RollID,
CountryID=@CountryID,
StateID=@StateID,
CityID=@CityID,
Photo=@Photo
Where id=@id
end

GO
/****** Object:  StoredProcedure [dbo].[UserProcedure]    Script Date: 23-07-2019 PM 07:19:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[UserProcedure]

@id int

as Begin 
Select LoginP.id,LoginP.FirstName,LoginP.LastName,LoginP.EmailAddress,LoginP.Password,LoginP.Address,LoginP.PhoneNumber,LoginP.RollID,LoginP.CountryID,LoginP.StateID,LoginP.CityID,LoginP.Photo,Countrytable.CountryID,Countrytable.CountryName,StatesName.StateID,StatesName.StateName,StatesName.CountryID,CityName.CityID,CityName.CityName,CityName.StateID,RollTable.RollID,RollTable.RollName From
((((LoginP
inner join RollTable on LoginP.RollID=RollTable.RollID)
inner join Countrytable on LoginP.CountryID=Countrytable.CountryID)
inner join StatesName on LoginP.StateID=StatesName.StateID)
inner join CityName on LoginP.CityID=CityName.CityID)  
Where id=@id

end

GO
/****** Object:  StoredProcedure [dbo].[UserProcedure1]    Script Date: 23-07-2019 PM 07:19:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[UserProcedure1]
@id int
as begin 
 Select LoginP.id,LoginP.FirstName,LoginP.LastName,LoginP.EmailAddress,LoginP.Password,LoginP.Address,LoginP.PhoneNumber,LoginP.RollID,LoginP.CountryID,LoginP.StateID,LoginP.CityID,LoginP.Photo,Countrytable.CountryName,StatesName.StateName,CityName.CityName,RollTable.RollName From
 LoginP
left join RollTable on LoginP.RollID=RollTable.RollID
left join Countrytable on LoginP.CountryID=Countrytable.CountryID
left join StatesName on LoginP.StateID=StatesName.StateID
left join CityName on LoginP.CityID=CityName.CityID
Where id=@id
end

GO
USE [master]
GO
